/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/



a.box_cat_home {
    background-color: #fff;
    display: block;
    padding: 25px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    color: #999;
    width:200px;
  }
  a.box_cat_home i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    font-size: 1.125rem;
    color: #e74e84;
    opacity: 0;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  a.box_cat_home h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 10px;
  }
  a.box_cat_home:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  a.box_cat_home:hover i {
    opacity: 1;
  }
  a.box_cat_home ul {
    margin: 20px -15px -25px -15px;
    padding: 10px;
    border-top: 1px solid #ededed;
  }
  a.box_cat_home ul li {
    display: inline-block;
  }
  a.box_cat_home ul li:first-child {
    float: left;
  }
  a.box_cat_home ul li:last-child {
    float: right;
  }
  a.box_cat_home ul li strong {
    margin-right: 5px;
    font-weight: 600;
  }

  a.box_cat_home img  {
    width: 40px !important;
    height: 40px !important;
  }








  .strip figure {
    height: 285px !important;
    width: 200px !important;
  }

  .strip h3 {
    font-size: 15px;
    padding-top: 5%;
  }


  .side-links li a {
    color: #aaa !important;
    margin-bottom: 2% !important;
  }

  .side-links li {
    cursor: pointer;
  }

  .side-links li i {
    color: #aaa !important;
  }

  .side-links li:hover a {
    color: #e54750 !important;
  }


  .side-links li:hover i {
    color: #e54750 !important;
  }

  


  .side-links li {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
  }




  .shift-dots ul {
    margin-left: 2% !important;
  }
  







  #app_section {
    background: #3f4079 url(../img/hero_bg_1.svg) repeat fixed;
    padding: 90px 0 60px 0;
    color: #fff;
  }
  @media (max-width: 991px) {
    #app_section {
      /* For less than 991px */
      padding: 60px 0 35px 0;
    }
  }
  #app_section .app_buttons {
    position: relative;
  }
  #app_section .app_buttons svg {
    width: 70px;
    height: 70px;
    position: absolute;
    left: -65px;
    top: -55px;
  }
  @media (max-width: 767px) {
    #app_section .app_buttons svg {
      /* For less than 767px */
      display: none;
    }
  }
  #app_section .app_buttons svg .draw-arrow {
    stroke-width: 4;
    stroke: #fff02a;
    fill: none;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-iteration-count: once;
    -webkit-animation-iteration-count: once;
    -moz-animation-iteration-count: once;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
  }
  #app_section .app_buttons svg .draw-arrow.tail-1 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
  }
  #app_section .app_buttons svg .draw-arrow.tail-2 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
  }
  #app_section small {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    font-size: 0.8125rem;
    opacity: 0.6;
  }
  #app_section h3 {
    color: #fff;
    font-size: 32px;
    font-size: 2rem;
  }
  #app_section h3 strong {
    color: #fff02a;
  }
  #app_section p {
    margin-bottom: 60px;
  }
  @media (max-width: 575px) {
    #app_section p {
      /* For less than 575px */
      font-size: 18px;
      font-size: 1.125rem;
      margin-bottom: 30px;
    }
  }
  




 .categories_carousel_in .owl-item {
    width: fit-content !important;
    overflow:  !important;
}

#demo .strip-books {
  width: 11rem !important;
}

#demo figure {
  width: 11rem !important;
  height: 16rem !important;

}

#demo figure img {
  width: 11rem !important;
  height: 16rem !important;
  object-fit: cover !important;
}

#demo .head-t {
  font-size: .6rem !important;
}

#demo .head-t i {
  font-size: .5rem !important;
}


#demo .head-p {
  font-size: .8.5rem !important;
}

#demo .ribbon {
  font-size: .6rem !important;
}


#main .item_version_2 {
  width: 10.5rem !important;
  height: 15.5rem !important;
}

#main .item_version_2 img {
  width: 10.5rem !important;
  height: 15.5rem !important;
  object-fit: cover !important;
}


#main .ribbon.off {
  background-color:#f3723b;
}

#main .ribbon.off:before {
  font-family:'food';
  content:'\0076';
  position:absolute;
  left:8px;
  top:4px !important;
}

#main .info {
  width: 10.5rem !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main .info p {
  width: 10.5rem !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main .info .p-text {
  width: 10.5rem !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




@media only screen and (max-width: 900px) {


  #main .info p {
    width: 6rem !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  #main .info .p-text {
    width: 6rem !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #main small {
    font-size: .3rem !important;
  }

  #main .item_version_2 {
    width: 7.5rem !important;
    height: 15.5rem !important;
  }
  
  #main .item_version_2 img {
    width: 7.5rem !important;
    height: 9.5rem !important;
    object-fit: cover !important;
  }
  

 
  /* For mobile phones: */
  #demo .strip-books {
    width: 10.5rem !important;
  }
  
  #demo figure {
    width: 10.5rem !important;
  }

  #demo figure img {
    width: 10.5rem !important;
    object-fit: cover !important;
  }

  #demo .head-t {
    font-size: .6rem !important;
  }

  #demo .head-t i {
    font-size: .5rem !important;
  }


  #demo .head-p {
    font-size: .7rem !important;
  }




  #creator p {
    font-size: .6rem !important;
  }
  #creator h3 {
    font-size: .7rem !important;
  }

  #creator small {
    font-size: .5rem !important;
  }
  
}

#creator p {
  font-size: .8rem;
}

#creator h3 {
  font-size: 1rem;
}








 /**
       * @license
       * Copyright 2019 Google LLC. All Rights Reserved.
       * SPDX-License-Identifier: Apache-2.0
       */
      /* 
       * Always set the map height explicitly to define the size of the div element
       * that contains the map. 
       */
       #map {
        height: 100%;
      }

            /* Optional: Makes the sample page fill the window. */

        .card {
        max-width: 100%;
        border-radius: 1rem;
        background-color: #fff !important;
        padding: 1rem;
        }

        .infos {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        grid-gap: 1rem;
        gap: 1rem;
        
        }

        .info-div {
            border: #f3f3f3 solid 1px !important;
        border-radius: 10px !important;
        box-shadow: #f4f4f4 0px 0px 20px;
        }

        .image {
        height: 5rem;
        width: 5rem;
        border-radius: 0.5rem;
        background: #f3f3f3;
        }

        #image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: #eee solid 3px;
            border-radius: none !important;
            border-radius: 0.5rem;
        }

        .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .name {
        font-size: 1.25rem;
        /*line-height: 1.75rem;*/
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        }

        .function {
        font-size: 0.75rem;
        color: rgba(156, 163, 175, 1);
        }

        .stats {
        width: 100%;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.65rem;
        color: rgba(0, 0, 0, 1);
        }

        .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        .state-value {
        font-weight: 500;
        color: #e54750;
        }

        .request {
        margin-top: 1rem;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: .8rem;
        transition: all .3s ease;
        background-color: #fff !important;
        border: #e54750 solid 2px;
        color: #e54750 !important;
        }

        .request:hover {
        background-color: #e54750 !important;
        border: #e54750 solid 2px;
        color: #fff !important;
        font-weight: 500 !important;
        }

        .info-div:hover {
          background-color: #fff !important;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px !important;
          }

        .reviews {
            width: 100%;
            font-size: .6rem;
            background-color: #f3f3f3;
            border-radius: 5px;
            height: 15px;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 8%;
            padding-top: 2%;
        }

        .reviews i {
            color: #fad116 !important;
            height: 0;
        }

        .stats p i {
            font-size: 0.3rem;
            margin-left: 1%;
            margin-right: 1%;
        }


        .info-tab {
            position: fixed !important;
            top: 15%;
            left: 30%;
            background-color: #f3f3f3;
            width: 23rem !important;
            border-radius: 10px !important;
            box-shadow: rgba(229, 71, 80, .3) 0px 0px 20px;
            max-height: 80vh;
            
        }

        .scrollable {
            overflow-y: scroll;
        }

        .scrollable::-webkit-scrollbar {
            width: 5px;
        }

        .scrollable::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 0px #f1f1f1; 
            border-radius: 0px;
        }

        .scrollable::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 3px #f1f1f1; 
        }

        .carousel-item img {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            background-color: #fff !important;
        }

        .provider-image {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
            border: #f3f3f3 solid 3px;
            background-color: #fff !important;
        }

        .close-icon {
            position: absolute;
            top: -3%;
            right: -3%;
            background-color: #fff !important;
            border-radius: 50%;
            padding: 1%;
            font-size: 1.2rem;
            width: 30px;
            height: 30px;
            box-shadow: #999 0px 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .close-icon:hover {
            background-color: #e54750 !important;
            box-shadow: #f1f1f1 0px 0px 20px;
            color: #fff;
        }


        .page_header {
            border-radius: 0px !important;
        }


        .location {
            font-size: .6rem;
        }


        .side-content {
            height: 70vh;
        }

        .map-profile {
            width: 100px;
            height: 100px;
            background-color: #222;
        }



        .list-group-item {
          background-color: #f3f3f3;
          border-radius: 10px !important;
          margin: 1%;
          border: none !important;
        }


        #custom-file-upload {
          border: 1px solid #ccc;
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer;
          border-radius: 10px !important;

        }

        #custom-file-upload input[type="file"] {
          display: none;
      }



      header {
        padding: 0 !important;
        margin: 0 !important;
      /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;*/
      border-bottom: #eee solid 1px !important;
    }

    .breaker {
        margin-top:9% !important;
        padding-top:1% !important;
    }

    .dashboard {
        margin-top:11% !important;
    }
    
    
    
    .main-menu {
        padding: 0 !important;
        margin: 0 !important;
    }

    header a {
        text-transform: uppercase;
        font-weight: 650 !important;
        font-size: .7rem !important;
        margin-top: 4% !important;
    }

    .main-menu li {
        border-right: #ccc solid 1px;
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
    }

    header .input {
        border: #ddd solid 2px !important;
        z-index: 1000 !important;
    }

    header .submit {
        background: transparent !important;
    }




.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
	width: 100%;
}
		

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


#map btn {
  background-color: #e54750;
  color: #fff;
}



    @media all and (min-width:960px) and (max-width: 1024px) {
      /* put your css styles in here */
    }
    
    @media all and (min-width:801px) and (max-width: 959px) {
      /* put your css styles in here */
    }
    
    @media all and (min-width:769px) and (max-width: 800px) {
      /* put your css styles in here */
    }
    
    @media all and (min-width:569px) and (max-width: 768px) {
      /* put your css styles in here */
    }
    
    @media all and (min-width:481px) and (max-width: 568px) {
      /* put your css styles in here */
    }
    
    @media all and (min-width:321px) and (max-width: 480px) {


      /* put your css styles in here */

      header {
        box-shadow: #999 0px 0px 60px 0px;
      }

      header .search-header {
        position: absolute !important;
        bottom: -80% !important;
        width: 95% !important;
        overflow: hidden !important;
      }

      header .register-header {
        transform: translateX(-60%) !important;
      }

      header .logo {
        width: 70px !important;
        height: 30px !important;
        position: absolute !important;
        top: 30%;
        left: 25% !important;
      }

      header .navbar-toggler{
        position: absolute !important;
        top: 26%;
        left: 3% !important;
      }


      .index-main {
        margin-top: 30% !important;
      }

      .index-main .carousel-item img {
        width: 100% !important;
        height: 100% !important;
      }


      .categories_carousel a {
        font-size: .5rem !important;
      }

      #books .item figure {
        width: 90px !important;
        height: 150px !important;
      }

      #books .item .strip a {
        width: 90px !important;
        height: 150px !important;
      }

      #books .item figure img {
        width: 90px !important;
        height: 150px !important;
      }

      #books .item .bottom-text a {
        font-size: .5rem !important;
      }

      #books .ribbon{
        display: none !important;
      }

      .creator-mobile {
        margin-top: 25% !important;
      }

      .mobile-library {
        margin-top: 25% !important;
      }

      .mobile-library .main  {
        width: 25% !important;
      }

      .main-display  figure {
        width: 90px !important;
        height: 150px !important;
      }

      .main-display .strip a {
        width: 90px !important;
        height: 150px !important;
      }

      .main-display img {
        width: 90px !important;
        height: 150px !important;
      }

      .main-display.bottom-text a {
        font-size: .5rem !important;
      }

      .creator-mobile .title img {
        width: 80px;
        height: 80px;
        padding-right: 10% !important;
      }
    }
    
    @media all and (min-width:0px) and (max-width: 320px) {
      /* put your css styles in here */

    }

   
        




