body {
    font-family: "Inter", sans-serif;
}

.dashboard__sidebar {
    background: #fff;
    border-right: 1px solid #eee;
    margin-top: 70px;
    height: calc(100vh - 70px);
}

.dashboard__sidebar .nav .nav-link {
    transition: all 0.3s ease-in-out;
}

.dashboard__sidebar .nav .nav-link:hover {
    background: #eee;
}

.dashboard__sidebar .nav .active {
    color: #fff;
    background: #ddd;
}

.analysis-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease,
        background-color 0.3s ease, color 0.3s ease;
    border: none;
    background-color: #ffffff;
    color: #555;
    transition: all 0.3s ease;
}

.analysis-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
    background-color: #000;
    color: #eee;
}

.analysis-card .text-muted {
    transition: all 0.3s ease;
}

.analysis-card:hover .text-muted {
    color: #eee !important;
}

.analysis-card:hover .text-primary {
    color: #eee !important;
}
