* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #ff0051;
    --deep-red: #ff002b;
    --white: #fff;
    --off-white: #f3f3f3;
    --black: #000;
    --brown: #231f20;
    --green: #2c8e43;
    --blue: #2d3691;
    --yellow: #f58234;
}

body {
    font-family: "Inter", sans-serif;
}

.bg-off-white {
    background: var(--off-white);
}

.bg-red {
    background: var(--red);
}

/* ===============================
   BUTTON / STYLING
================================= */

.btn {
    font-weight: bold;

    font-size: 12px;
    padding: 10px 25px;
    border-radius: 6px;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.btn-outline-red {
    background: none;
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-red {
    background: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
}

.btn-green {
    background: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}

.btn-blue {
    background: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.btn-yellow {
    background: var(--yellow);
    color: var(--white);
    border: 1px solid var(--yellow);
}

.btn-outline-red:hover,
.btn-red:hover {
    background: var(--deep-red);
    color: var(--white);
    border: 1px solid var(--deep-red);
}

.btn-white {
    background: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 10px 12px;
    opacity: 0.75;
    min-width: 100px;
}

.btn-white:hover {
    background: none;
    color: var(--white);
    border: 1px solid var(--white);
    opacity: 1;
}

.btn-green:hover,
.btn-blue:hover,
.btn-yellow:hover {
    color: var(--white);
    background: var(--brown);
    /* opacity: 0.7; */
}

/* ===============================
   HEADER / STYLING
================================= */

.navbar {
    z-index: 10;
    width: 100%;
    transition: 0.3s ease;
}

.nav-link {
    font-size: 14px;
    color: black;
}

.fixed-top {
    transition: 0.3s ease;
    z-index: 11;
}

.navbar-100 {
    margin-top: 100px;
}
/* ===============================
   JUMBOTRON / STYLING
================================= */
.jumbotron-lg {
    background: url("../../images/jumbo_img/home.jpeg");
    height: 650px;
}

.jumbotron-md {
    background: url("../../images/jumbo_img//jumbo_wallpaper_02.jpeg");
    height: 350px;
}

.jumbotron-sm {
    background: url("../../images/jumbo_img//jumbo_wallpaper.jpeg");
    height: 150px;
}

.jumbotron {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.jumbotron::before {
    background: linear-gradient(90deg, var(--black), rgb(0, 0, 0, 0));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.jumbo-details {
    color: var(--white);
    font-weight: 1100;
    padding-bottom: 50px;
    z-index: 2;
}

.display-4 {
    font-weight: 500;
    height: 50px;
}

.lead {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.5;
}

/* ===============================
   BANNER / STYLING
================================= */

.banner {
    margin-top: -50px;
    margin-bottom: 50px;
    z-index: 10;
}

/* ===============================
   BOOK OWL CARSOUL / STYLING
================================= */

.book-cards {
    position: relative;
}

.book-card-slide {
    position: relative;
    display: flex;
    gap: 30px;
    width: 100%;
    overflow-x: hidden;
    padding: 10px;
}

.book-card-slide:after {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255)
    );
    width: 100px;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-off-white .book-card-slide::after {
    background: linear-gradient(
        90deg,
        rgb(243, 243, 243, 0),
        rgb(243, 243, 243, 1)
    );
}

.bg-children .book-card-slide::after {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    );
    width: 2px;
    background-color: var(--brown);
}

.book-card {
    position: relative;
    width: 210px;
    transition: 0.3s ease;
}

.book-slide {
    transform: scale(0);
    width: 0;
    padding: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.book-card-cover {
    width: 100%;
    height: 297px;
    overflow-y: hidden;
}

.book-card-cover img {
    width: inherit;
    height: inherit;
    border-radius: 8px;

    border: 1px solid var(--white);
    transition: 0.3s ease;
}

.book-card:hover img {
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    border: none;
    transform: scale(1.02);
    z-index: 10;
}

.book-card-info {
    display: grid;
    gap: 5px;
    margin-top: 14px;
    width: inherit;
}

.book-card-little {
    width: inherit;
    color: var(--black);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.book-card-pub {
    color: var(--black);
    font-size: 12px;
}

.book-card-pub a {
    text-decoration: none;
}

.book-card-pub a:hover {
    color: var(--red);
    text-decoration: underline;
    z-index: 2;
}

.book-card-btn {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: var(--white);
    color: var(--black);
    font-size: 25px;
    z-index: 2;
    opacity: 0.75;

    cursor: pointer;
}

.book-card-btn:hover {
    opacity: 1;
}

.book-card-btn div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.book-card-slide-out {
    transform: translateX(-100%);
    opacity: 0;
}

.book-view-cover {
    margin-top: -100px;
    z-index: 3;
}

.book-view-cover img {
    border: 5px solid var(--white);
    border-radius: 15px;
}

/* CUSTOM SECTION */

#stylish-section .book-card {
    margin: 14px 20px;
    transition: 0.3s ease;
}

#stylish-section .book-card img {
    z-index: 2;
}

#stylish-section .book-card:hover img {
    transform: scale(1.075);
    box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
    border-radius: 25px;
}

.book-card-num {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);

    color: var(--off-white);
    font-size: 150px;
    font-weight: 1000;
    z-index: -1;
}

.book-card .book-card-num {
    transition: 0.3s;
}

.book-card:hover .book-card-num {
    top: 45%;
    color: var(--yellow);
    left: -75px;
    transform: translateY(-50%) rotateZ(-20deg);
    z-index: 10;
}

/* ===============================
   SECTION / STYLING
================================= */

.section {
    position: relative;
    padding: 100px 0;
}

.bg-children {
    background: url("../../images/jumbo_img/children_collections.jpeg") center /
        cover fixed;
    position: relative;
}

.bg-children::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.bg-children > * {
    position: relative;
    z-index: 2;
}

/* ===============================
   FOOTER / STYLING
================================= */

footer {
    background: var(--brown);
    padding: 50px;
}

.footer-links {
    font-size: 14px;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    opacity: 0.75;
    transition: 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
    opacity: 1;
}

/* ===============================
   CREATOR / STYLING
================================= */

.creator-view-cover {
    margin-top: -100px;
    z-index: 3;
}

.creator-view-cover img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 5px solid var(--white);
    border-radius: 15px;
}

/* ===============================
   LIBRARY / STYLING
================================= */

.category-container {
    position: relative;
    background: var(--white);
    border-bottom: 1px solid var(--off-white);
    height: 70px;
    overflow-y: hidden;

    transition: 0.3s ease;
}

.category-all {
    height: 100%;
    transition: 0.3s ease;
}

.category-collapse-btn {
    position: absolute;
    bottom: 5px;
    right: 0;

    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: var(--off-white);
    color: var(--brown);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.2s;
    border: 1px solid var(--off-white);
}

.category-link {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: var(--off-white);
    color: var(--brown);
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.2s;
    border: 1px solid var(--off-white);
}

.category-collapse-btn:hover,
.category-link:hover {
    background-color: var(--white);
    transform: translateY(-2px);
    color: var(--black);
    text-decoration: none;
}

.library-book-card {
    padding: 10px;
    display: grid;
    grid-template-columns: 140px calc(100% - 140px - 20px);
    gap: 14px;
    transition: 0.3s ease;
    border-radius: 14px;
}

.library-book-card a img {
    position: relative;
    width: 140px;
    height: 198px;
    overflow: hidden;
}

.library-book-card:hover {
    background: var(--off-white);
}

.library-book-card img {
    transition: 0.3s ease;
}

.library-book-card-img {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.library-book-card:hover img {
    transform: scale(1.1);
    border-radius: 8px;
}

.library-book-card:hover .library-book-card-img {
    border-radius: 8px;
}

.library-book-card .book-card-little {
    font-size: 20px;
}

.library-book-card p {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.75;
}

/* ===============================
   PRICINGS PLANS / STYLING
================================= */

.priced-plans .col-md-4 {
    background: var(--white);
    padding: 50px 0;
    border: 1px solid var(--off-white);
    transition: 0.3s ease;
    border-radius: 25px;
}

.priced-plans .col-md-4:hover {
    transform: scale(1.1);
    z-index: 2;
}

.priced-plans .col-md-4:hover .plan-price {
    transform: scale(1.1);
}

.priced-plans .col-md-4 .btn {
    border: 1px solid var(--white);
}

.priced-plans .col-md-4:hover {
    color: var(--white);
    background: var(--red);
    border: 1px solid var(--red);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    transform: scale(1.1);
    z-index: 2;
}

.priced-plans .col-md-4:hover .plan-features {
    color: var(--white);
}

.priced-plans > :nth-child(2) {
    color: var(--white);
    background: var(--red);
    border: none;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.priced-plans:hover > :nth-child(2) {
    background: var(--white);
    padding: 50px 0;
    color: var(--black);
    box-shadow: 0 0 0 rgb(0, 0, 0, 0);
    transform: scale(1);
}

.priced-plans:hover > :nth-child(2) .plan-features {
    color: var(--black);
}

.priced-plans:hover > :nth-child(2):hover {
    color: var(--white);
    background: var(--red);
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.priced-plans:hover > :nth-child(2):hover .plan-features {
    color: var(--color);
}

.priced-plans > :nth-child(2) .plan-features {
    color: var(--white);
}

.plan-title h3 {
    font-size: 15px;
    font-weight: 700;
}

.plan-price {
    font-size: 50px;
    font-weight: 800;
}

.plan-features {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 50px;
}

/* ===============================
   EVENTS / STYLING
================================= */

.event-card {
    padding: 14px;
    width: 100%;
    transition: 0.3s ease;
    border-radius: 16px;
}

.event-cover {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.event-card:hover {
    background: var(--off-white);
}

.event-card img {
    width: 100%;
    transition: 0.3s ease;
    border-radius: 8px;
}

.event-card-details {
    width: 100%;
}

.event-card-title {
    display: block;
    font-size: 30px;
    color: var(--black);
    text-decoration: none;
    padding: 12px 0;
}

.event-card-date {
    font-size: 18px;
}

/* ===============================
   GALLERY / STYLING
================================= */

.gallery-div {
    position: relative;
    width: calc(33% - 20px);
    padding: 10px;
}

.gallery-img {
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: 0.3s ease;
}

.gallery-img img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.gallery-img:hover {
    transform: scale(1.05);
}

/* ===============================
   SUBSCRIBE / STYLING
================================= */

.sub-layout {
    background: linear-gradient(90deg, var(--red), var(--yellow));
    padding: 100px 0;
}

.sub-layout h2 {
    color: var(--white);
}

.sub-layout p {
    color: var(--off-white);
}

.sub-layout .form-control {
    background: none;
    color: var(--white);
    padding: 15px;
    border-radius: 30px;
    border: 2px solid var(--white);
}

.btn-sub {
    font-size: 14px;
    background: none;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 30px 30px 30px 30px;
}

.btn-sub:hover {
    background: var(--white);
    color: var(--red);
}

/* ===============================
   PROFILE CARD / STYLING
================================= */

.profile-card {
    background: var(--white);
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 20px;

    transition: 0.3s ease;
}

.profile-card:hover {
    background: var(--off-white);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.profile-card img {
    transition: 0.3s ease;
}

.profile-card:hover img {
    border-radius: 8px;
}

.profile-card small {
    font-size: 12px;
}

.profile-card p {
    font-size: 14px;
    margin: 8px 0 0;
}
