* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #ff0051;
    --deep-red: #ff002b;
    --white: #fff;
    --black: #000;
}

body {
    font-family: "Inter", sans-serif;
}

/* ===============================
   BUTTON / STYLING
================================= */

.btn-outline-red {
    background: none;
    color: var(--red);
    border: 1px solid var(--red);
    font-weight: bold;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.btn-red {
    background: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
    font-weight: bold;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.btn-outline-red:hover,
.btn-red:hover {
    background: var(--deep-red);
    color: var(--white);
    border: 1px solid var(--deep-red);
}

/* ===============================
   HEADER / STYLING
================================= */

.navbar {
    height: 80px;
    padding: 0 50px;
    z-index: 10;
    width: 100%;
}

.nav-link {
    font-size: 16px;
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 225px;
    padding: 16px 0;
    background-color: white;
    list-style: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.dropdown-content::after {
    content: "";
    position: absolute;
    background: white;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: -6px;
    left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    position: relative;
    text-align: left;
    padding: 10px 15px;
}

.dropdown-content li a {
    padding: 15px 20px;
    color: rgb(0, 0, 0, 0.75);
    transition: 0.2s;
    text-decoration: none;
}

.dropdown-content li a:hover {
    color: rgb(0, 0, 0, 0.75);
    text-decoration: underline;
    opacity: 0.75;
}

.search-pop {
    position: relative;
}

.search-pop-content {
    display: none;
    position: absolute;
    width: 300px;
    top: 1px;
    right: 0;
}

.search-pop-content button {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 37px;
    padding: 8px 0 4px;
    background: white;
    border: none;
    border-radius: 0 3px 3px 0;
}

.search-pop-content button:hover {
    background: rgb(211, 211, 211);
}

/* ===============================
   JUMBOTRON / STYLING
================================= */

.jumbotron-lg {
    height: 650px;
}

.jumbotron-md {
    height: 300px;
}

.jumbotron-sm {
    height: 150px;
}

.jumbotron {
    background: url(../../images/jumbo_img/home.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.jumbotron::before {
    background: linear-gradient(90deg, var(--black), rgb(0, 0, 0, 0));
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.jumbo-details {
    color: var(--white);
    font-weight: 1100;
    padding-bottom: 50px;
    z-index: 2;
}

.display-4 {
    font-weight: 500;
    height: 50px;
}

.lead {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.5;
}

/* ===============================
   BANNER / STYLING
================================= */

.banner {
    margin-top: -50px;
    margin-bottom: 50px;
    z-index: 10;
}

/* ===============================
   SECTION / STYLING
================================= */

.section {
    padding: 100px 0;
}
